{% from "macros/fields.tmpl" import render_input_field, render_password_field, render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}
{% block title %}Device{% endblock %}

{% block content %}
<h3>List devices</h3>
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffff99;}
</style>

<table class="tftable" border="1">
<tr><td>Device name</td><td>Hash</td></tr>
{% for n in form %}
<tr>
     <td>{{ n[1] }}</td>
     <td>{{ n[0] }}</td>
     <td><a href=/device_edit/{{n[2]}}>Edit</a></td>
     <td><a href=/device_remove/{{n[2]}}>Remove</a></td>

</tr>
{% endfor %}
<table>
{% endblock %}