
{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}
{% block content %}

  <h1>Výpis </h1>
  <p>Výsledek je:</p>

{% endblock %}