
{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit, render_template %}
{% extends "shared/layout.tmpl" %}
{% block content %}


<p>Výsledek je: {{ hodnota.hodnota }}</p>

{% endblock %}